<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/widgets/widgetPresentation.css">

  </head>
  <body>
    <div class="presentationWidget">
      <div class="author_description_container">
<p class="m-text-centered m-bold">Business Analyst</p>
<p>Currently working for <a href="https://amadeus.com/en">Amadeus</a> in Nice, Côte D’Azur.</p>
<div class="authorsocial">
<a href="https://www.linkedin.com/in/jefferson-arboleda/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
<a href="https://github.com/jag10" target="_blank"><i class="fab fa-github"></i></a>
<a href="https://gitlab.com/jag7" target="_blank"><i class="fab fa-gitlab"></i></a>
<a href="https://twitter.com/j_a_g_x" target="_blank"><i class="fab fa-twitter"></i></a>
 </div>
</div>
    </div>
  </body>
</html>
